File Handling

Reading a file

In [17]:
file = open('test.txt','r')

In [6]:
for lines in file:
    print(lines)

Hello, My name is Munna Kumar Chaudhary.

I am beginner here to learn AI/ML course from udemy.

In [9]:
print(file.read())

Hello, My name is Munna Kumar Chaudhary.
I am beginner here to learn AI/ML course from udemy.

In [12]:
print(file.read(15))

Hello, My name

In [19]:
print(file.readline())

I am beginner here to learn AI/ML course from udemy.

Writing a file

In [22]:
file = open('test.txt','w')
file.write("This is a write operations.\n")
file.write("Operation perform successsfully. Thank you for choosing us.")
file.close()

In [23]:
file = open('test.txt','r')
print(file.read())

This is a write operations.
Operation perform successsfully. Thank you for choosing us.

Append Operation

In [28]:
with open('test.txt','a') as file:
    file.write("\nAnother line is here.\n which is append method.")

In [29]:
file=open('test.txt','r')
#for line in file:
 #   print(line)

print(file.read())

This is a write operations.
Operation perform successsfully. Thank you for choosing us.Another line is here.
 which is append method.
Another line is here.
 which is append method.

Pandas Operation

In [30]:
import pandas as pd

In [31]:
df=pd.read_csv('StudentsPerformance.csv')

In [32]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75