In [5]:
list1=["munna",25,"jaiswal","kathmandu"]
print(list1)
print(type(list1))
print(len(list1))

['munna', 25, 'jaiswal', 'kathmandu']
<class 'list'>
4

In [7]:
list2=("munna",25,"jaiswal","kathmandu")
print(list2)
print(type(list2))

('munna', 25, 'jaiswal', 'kathmandu')
<class 'tuple'>

In [9]:
#to check the length of the list and tuples
print(len(list1))

print(len(list2))

4
4

In [12]:
#nested list
city_name=["india",["Delhi","Mumbai"],"Nepal",["kathmandu","pokhara"]]

In [14]:
print(city_name)
print(type(city_name))

['india', ['Delhi', 'Mumbai'], 'Nepal', ['kathmandu', 'pokhara']]
<class 'list'>

In [16]:
print(city_name[0])
print(city_name[1])
print(city_name[2])
print(city_name[3])

india
['Delhi', 'Mumbai']
Nepal
['kathmandu', 'pokhara']

In [19]:
print(city_name[1][0])
print(city_name[1][1])
print(city_name[3][0])
print(city_name[3][1])

Delhi
Mumbai
kathmandu
pokhara

In [23]:
#access from backward direction
print(city_name[-1][-1])
print(city_name[-1][1])
print(city_name[-1][-2])

pokhara
pokhara
kathmandu

In [37]:
list1=[1,2,3,4,5]
print(list1)
del list1[3]
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [31]:
print(list1)
del list1
print(list1)  #using del keyword we can delete wholelist or item of the list

NameError: name 'list1' is not defined

In [39]:
#or we can use pop it work inindex based. if we don't pass index then it will remove or delete the last item of the list
list1=[1,2,3,4,5]
list1.pop(3)
print(list1)
list1.pop()
print(list1)

[1, 2, 3, 5]
[1, 2, 3]

In [44]:
#remove willn't work as a index element of the list. it chek the number that we pass in remove, 
#if that number present then it will remove that number or give an error. 
#and if we use remove without index then it will delete the whole list
list1=[1,92,3,86,64,5]
list1.remove(4)
print(list1)

ValueError: list.remove(x): x not in list

In [47]:
#shallow copy
A=["mango","apple","cherry"]
B=A
print(A)
print(B)

['mango', 'apple', 'cherry']
['mango', 'apple', 'cherry']

In [48]:
A.pop()

'cherry'

In [49]:
print(A) #this method is called shallow copy where if we remove first list item then another list which hold first list item that will also remove

['mango', 'apple']

In [50]:
print(B)

['mango', 'apple']

In [51]:
A=["mango","apple","cherry"]
B=A
print(A)
print(B)

['mango', 'apple', 'cherry']
['mango', 'apple', 'cherry']

In [52]:
B.pop() #same thinf will happen here also even if we remove second list item which is equal to first item then this will happen too.
print(B)
print(A)

['mango', 'apple']
['mango', 'apple']