Map, Reduce and Filter

In [1]:
firstname=["Adele,bob,carrier,john"]
list(map(lambda x:x.upper(),firstname))

['ADELE,BOB,CARRIER,JOHN']

####Area of Circle

In [5]:
import math

def area(r):
    return math.pi*(r**2)

radii=[1,2,4,5,7,8]

areas=[]

for i in radii:
    a=area(i)
    areas.append(a)

print(areas)

[3.141592653589793, 12.566370614359172, 50.26548245743669, 78.53981633974483, 153.93804002589985, 201.06192982974676]

Using map function:-  map(f,iterable)

In [8]:
map(area, radii) #it is complete and to call this there is a method below
list(map(area, radii))

[3.141592653589793,
 12.566370614359172,
 50.26548245743669,
 78.53981633974483,
 153.93804002589985,
 201.06192982974676]

Convert Celcius scale to Farheneit scale

F=9/5*C+32

In [15]:
temps=[("Mumbai",32),("Delhi",42),("Chennai",25),("Bihar",38)]

cel_to_fra=lambda data: (data[0],(9/5)*data[1]+32)

map(cel_to_fra,temps)

list(map(cel_to_fra,temps))

[('Mumbai', 89.6),
 ('Delhi', 107.60000000000001),
 ('Chennai', 77.0),
 ('Bihar', 100.4)]

Filter Function- filters out the data

filter(f, data)

In [16]:
import statistics

In [17]:
data=[54,65,8,4,2,1,4,6,5,4,68,7,4,6,8]

In [18]:
avg=statistics.mean(data)

In [19]:
print(avg)

16.4

to print more than avg number in above data

In [20]:
list(filter(lambda x: x>avg, data))

[54, 65, 68]

Reduce Function
reduce (f,data)

In [21]:
from functools import reduce

In [22]:
#multiply all the items in a list

In [23]:
data=[1,35,9,8,5,4,6]
multiplier=lambda x,y: x*y

In [24]:
reduce(multiplier, data)

302400